.navbar {
    background:rgba(255, 255, 255, 0.095);
    backdrop-filter: blur(7px);
    
    color:#fff;}

.videoElement {
    background-color: rgb(41, 67, 60);
    width: 14cm;
    height: auto;
    object-fit: fill;
}